# Grundgerüst Leistungsausweis
Dieses Notebook soll euch als Grundgerüst für euren Leistungsnachweis dienen. Es soll euch eine Idee/ Hilfestellung bieten, wie man einen neuen Datensatz, basierend auf einer Fragestellung, strukturiert analysieren und interpretieren kann. Wie besagt, dient das Notebook als Hilfestellung, ist jedoch keinenfalls vollständig ausgeschöpft. In diesem Sinne dürft ihr auch gerne Sachen miteinbeziehen, welche hier nicht genannt werden. 

-> Bitte schreibt die Antwort zu den jeweiligen Punkten an oberster Stelle unterhalb der Titel (so wie dies auch im Leistungsnachweisbeispiel gemacht wurde).


## Struktur
1. Fragestellung(en) und Datenbeschaffung
2. Daten laden
3. Daten vorbereiten
4. Statistik der Rohdaten (Generell im Longformat)
5. Analyse der Daten

**Wichtig:** Alle graphischen Darstellungen sollten mindestens *Titel, Ticks- und Achsenbeschriftung* beinhalten (Siehe plots im Leistungsnachweisbeispiel)

---

## 1. Fragestellung(en) und Datenbeschaffung
**Gruppenmitglieder:** Molignini Alessia, Keel Noëlle, Stettler Sara
### 1.1 Titel: 
- "Übergewicht in verschiedenen Ländern"
### 1.2 Fragestellung:
- "Welche drei Länder zeigen im Zeitraum von 1996 bis 2016 die grösste Zunahme der Prävalenz von Übergewicht in der Gesamtbevölkerung, unabhänig vom Geschlecht?"
- "Wo steht die Schweiz in diesem Vergleich?"
- "Welche Unterschiede gibt es in diesen vier Ländern zwischen Mann und Frau?"
### 1.3 Datenquelle(n):
**Quellen:** 
- https://ourworldindata.org/grapher/obesity-in-men-vs-obesity-in-women
- https://ourworldindata.org/obesity (4. Darstellung,"What share of adults are obese?")

Beispiele für mögliche Datenquellen:
- https://ourworldindata.org
- https://healthdata.gov/
- https://www.who.int/data/collections
- https://www.kaggle.com/datasets?tags=4202-Healthcare

### 1.4 Daten beschaffen und laden

In [2]:
# lade deine Bibliotheken -> Pandas, Seaborn, Matplotlib sind die wichtigsten für diese Aufgaben

import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv('share-of-adults-defined-as-obese.csv')

df.head()

,Entity,Code,Year,"Prevalence of obesity among adults, BMI >= 30 (crude estimate) (%) - Sex: both sexes - Age group: 18+ years"
0,Afghanistan,AFG,1975,0.4
1,Afghanistan,AFG,1976,0.4
2,Afghanistan,AFG,1977,0.5
3,Afghanistan,AFG,1978,0.5
4,Afghanistan,AFG,1979,0.5

In [4]:
df = pd.read_csv('share-of-adults-defined-as-obese.csv', skiprows=1,
                 names=['Land','Kürzel','Jahr','Übergewicht_Prävalenz_18+_unabhängig_Geschlecht'])

df.head()

          Land Kürzel  Jahr  Übergewicht_Prävalenz_18+_unabhängig_Geschlecht
0  Afghanistan    AFG  1975                                              0.4
1  Afghanistan    AFG  1976                                              0.4
2  Afghanistan    AFG  1977                                              0.5
3  Afghanistan    AFG  1978                                              0.5
4  Afghanistan    AFG  1979                                              0.5

In [5]:
# lade hier deine Daten
df = pd.read_csv('obesity-in-men-vs-obesity-in-women.csv')

df.head()

,Entity,Code,Year,"Prevalence of obesity among adults, BMI >= 30 (age-standardized estimate) (%) - Sex: male - Age group: 18+ years","Prevalence of obesity among adults, BMI >= 30 (age-standardized estimate) (%) - Sex: female - Age group: 18+ years",World regions according to OWID
0,Afghanistan,AFG,1975,0.2,0.8,NaN
1,Afghanistan,AFG,1976,0.2,0.8,NaN
2,Afghanistan,AFG,1977,0.2,0.9,NaN
3,Afghanistan,AFG,1978,0.2,0.9,NaN
4,Afghanistan,AFG,1979,0.3,1.0,NaN

In [6]:
df = pd.read_csv('obesity-in-men-vs-obesity-in-women.csv', skiprows=1,
                 names=['Land','Kürzel','Jahr','Übergewicht_Prävalenz_Männer_18+','Übergewicht_Prävalenz_Frauen_18+','Weltregionen_gemäss_OWID'])

df.head()

,Land,Kürzel,Jahr,Übergewicht_Prävalenz_Männer_18+,Übergewicht_Prävalenz_Frauen_18+,Weltregionen_gemäss_OWID
0,Afghanistan,AFG,1975,0.2,0.8,NaN
1,Afghanistan,AFG,1976,0.2,0.8,NaN
2,Afghanistan,AFG,1977,0.2,0.9,NaN
3,Afghanistan,AFG,1978,0.2,0.9,NaN
4,Afghanistan,AFG,1979,0.3,1.0,NaN

## 2. Daten vorbereiten 
- Welches Format hat mein Datensatz bzw. wie sind meine Kolumnen strukturiert?
- Welches Format kann ich für welche Teilschritte verwenden (wann soll ich pivot bzw. wide format verwenden)?
- Welche Datentypen kommen in meinem Datensatz vor?

In [7]:
df.dtypes

Land                                 object
Kürzel                               object
Jahr                                  int64
Übergewicht_Prävalenz_Männer_18+    float64
Übergewicht_Prävalenz_Frauen_18+    float64
Weltregionen_gemäss_OWID             object
dtype: object

In [8]:
df_pivot = df.pivot(
    index='Land', 
    columns='Jahr', 
    values='Übergewicht_Prävalenz_Männer_18+')
df_pivot.head()

Jahr,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2023
Land,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.2,0.2,0.2,0.2,0.3,0.3,0.3,0.3,0.4,0.4,...,2.0,2.1,2.2,2.4,2.5,2.7,2.8,3.0,3.2,NaN
Africa (WHO),0.6,0.6,0.6,0.7,0.7,0.7,0.8,0.8,0.9,1.0,...,3.8,4.0,4.2,4.4,4.6,4.9,5.1,5.3,5.6,NaN
Aland Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,4.4,4.6,4.8,5.0,5.2,5.4,5.6,5.8,6.0,6.3,...,16.1,16.8,17.4,18.1,18.8,19.5,20.2,20.9,21.6,NaN
Algeria,2.8,2.9,3.1,3.2,3.4,3.6,3.8,4.0,4.3,4.5,...,14.6,15.2,15.8,16.5,17.1,17.8,18.5,19.2,19.9,NaN

In [9]:
df_pivot = df.pivot_table(
    index='Land', 
    columns='Jahr', 
    values=['Übergewicht_Prävalenz_Männer_18+', 'Übergewicht_Prävalenz_Frauen_18+'])
df_pivot.head()

               Übergewicht_Prävalenz_Frauen_18+                                \
Jahr                                       1975  1976  1977  1978  1979  1980
Land
Afghanistan                                 0.8   0.8   0.9   0.9   1.0   1.1
Africa (WHO)                                3.3   3.5   3.6   3.7   3.9   4.0
Albania                                     8.6   8.8   8.9   9.1   9.3   9.5
Algeria                                    10.7  11.1  11.4  11.8  12.2  12.7
Americas (WHO)                             11.5  11.9  12.2  12.6  12.9  13.3

                                        ... Übergewicht_Prävalenz_Männer_18+  \
Jahr            1981  1982  1983  1984  ...                             2007
Land                                    ...
Afghanistan      1.1   1.2   1.3   1.4  ...                              1.8
Africa (WHO)     4.2   4.4   4.6   4.8  ...                              3.7
Albania          9.7   9.9  10.1  10.3  ...                             15.5
Algeria         13.1  13.6  14.1  14.6  ...                             14.0
Americas (WHO)  13.7  14.1  14.5  14.9  ...                             21.1


Jahr            2008  2009  2010  2011  2012  2013  2014  2015  2016
Land
Afghanistan      2.0   2.1   2.2   2.4   2.5   2.7   2.8   3.0   3.2
Africa (WHO)     3.8   4.0   4.2   4.4   4.6   4.9   5.1   5.3   5.6
Albania         16.1  16.8  17.4  18.1  18.8  19.5  20.2  20.9  21.6
Algeria         14.6  15.2  15.8  16.5  17.1  17.8  18.5  19.2  19.9
Americas (WHO)  21.6  22.2  22.7  23.2  23.7  24.3  24.8  25.4  25.9

[5 rows x 84 columns]

## 3. Statistik der Rohdaten (Analyse im Long-Format)
- Ist meine Variable kontinuierlich oder diskret? Falls diskret, wieviele einzigartige Klassen gibt es? Wieviele Datenpunkte pro Klasse sind vorhanden?
- Anzahl Datenpunkte (Beschreibend und Graphische Darstellung)
    - Wieviele Datenpunkte sind für die bestimmten Variabeln vorhanden?
    - Wo fehlen Datenpunkte?
- Wie ist die Verteilung der zu untersuchenden Variabel(n) (Histogram, Boxplot, Säulendiagram)
- Vermutest du Zusammenhänge zwischen zwei Variabeln (Streuungsdiagramm, Korrelationsmatrix)

*Notiz: Zu jeder Kolumne sollte generell eine Aussage möglich sein.*

## 4. Analyse 

### Vorgehen
- Spezifische Untersuchung der Fragestellung (Berechnungen)
- Visualisieren der Resultate: Verwendet Achsenbeschriftung und überlegt euch, welche Art von Darstellung sinnvoll ist (Kuchen-, Säulen, Liniendiagramm; 2 y-Achsen?)
- Beschreiben der Beobachtungen
- Interpretation der Resultate (Hypothesen zu den Resultaten)
- Untermauern der Interpretation mittels Hinweise zur Literatur (Mögliche Zusammenhänge aufzeigen).